<!-- /field/field__node__field_region.html.twig -->
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% for item in items %}
          <span class="text-muted small single-taxonomy">{{ item.content['#plain_text'] }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
