<div id="main-wrapper" class="layout-main-wrapper layout-container clearfix">
  <main id="content" class="column main-content" role="main">
    <section class="section">
      <a id="main-content" tabindex="-1"></a>
      {{ page.hero }}
      <div class="container mb-3">
        {{ drupal_breadcrumb() }}
      </div>
      {{ page.content }}
    </section>
  </main>
</div>
