<div class="field__item">
  <div class="paragraph-image-text border-bottom border-dark">
    <div class="container">
      <div class="row flex-row align-items-center">
        <div class="col-12 col-md-6 col-xl-6 my-3 my-xl-0">
          <h4>View their latest details here including contact information, an overview of qualifications or areas of expertise and operating regions for programs and services administered through QRIDA.</h4>
        </div>

        <div class="col-12 col-md-6 col-xl-6 my-3 my-xl-0">
          <figure class="img-wrapper m-0">
            <img src="/themes/custom/govcms_bartik/assets/images/Adviser_Mediator_Manager_Default.jpeg">
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
