#taxonomy-archive .view-taxonomy-term {
  margin: 0 auto;
  padding: 0 12px;
  width: 100%;
}
#taxonomy-archive .view-taxonomy-term .view-header .content {
  font-size: 2rem;
  margin-top: 2rem;
}
#taxonomy-archive .view-taxonomy-term .view-content {
  margin: 0 -12px;
}
#taxonomy-archive .view-taxonomy-term .view-content .views-row {
  padding: 1rem;
}
#taxonomy-archive .view-taxonomy-term .view-content .views-row  .node--view-mode-teaser {
  border: solid 1px var(--greyLight);
  border-radius: 10px;
  height: 100%;
  margin: 0;
}

/* Small */
@media (min-width: 576px) {
  #taxonomy-archive .view-taxonomy-term {
    max-width: 540px;
  }
}

/* Medium */
@media (min-width: 768px) {
  #taxonomy-archive .view-taxonomy-term {
    max-width: 720px;
  }
}

/* Large */
@media (min-width: 992px) {
  #taxonomy-archive .view-taxonomy-term {
    max-width: 960px;
  }
  #taxonomy-archive .view-taxonomy-term .view-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #taxonomy-archive .view-taxonomy-term .view-content .views-row {
    flex: 0 1 50%;
    max-width: 50%;
  }
}

/* XLarge */
@media (min-width: 1200px) {
  #taxonomy-archive .view-taxonomy-term {
    max-width: 1140px;
  }
  #taxonomy-archive .view-taxonomy-term .view-content .views-row {
    flex: 0 1 33.33%;
    max-width: 33.33%;
  }
}

/* XXLarge */
@media (min-width: 1400px) {
  #taxonomy-archive .view-taxonomy-term {
    max-width: 1320px;
  }
}
