<!-- paragraph__loan_calculator__default.html.twig -->
{% block paragraph %}
  {% block content %}
    <div class="paragraph paragraph-calculator">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-10">
            {{ content }}
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="card calculator-wrapper">
              <form class="card-body calculator-inputs" action="#">
                <div class="calculator-field field-amount">
                  <label class="field-label">Loan amount</label>
                  <input class="field-amount-input text-center" id="amount_value" type="number" pattern="-?[0-9]*(\.[0-9]+)?" value="0" tabindex="1">
                  <input class="field-amount-slider" id="amount_slider" type="range" min="0" max="500000" value="0" step="1000" tabindex="4">
                  <label class="field-sublabel">Enter amount</label>
                </div>

                <div class="calculator-field field-repayment">
                  <label class="field-label">Years</label>
                  <input class="field-repayment-value text-center" id="repayment_value" type="number" value="6" step="0.1" tabindex="2">
                  <input class="field-repayment-slider" id="repayment_slider" type="range" min="1" max="30" value="6" step="0.1" tabindex="5">
                  <label class="field-sublabel">Select loan period</label>
                </div>

                <div class="calculator-field field-interest">
                  <label class="field-label">Interest rate</label>
                  <input class="field-interest-value text-center" id="interest_value" type="number" value="2.5" step="0.01" tabindex="3">
                  <input class="field-interest-slider" id="interest_slider" type="range" min="0.1" max="10" value="2.5" step="0.01" tabindex="6">
                  <label class="field-sublabel">Select interest rate</label>
                </div>
              </form>

              <div class="card-footer calculator-results">
                <h3 class="text-center m-0 calculator-header">Results</h3>

                <div class="calculator-result">
                  <p class="m-0">Monthly repayment:</p>
                  <p class="fs-4" id="installment_monthly">$ 0.00</p>
                </div>

                <div class="calculator-result">
                  <p class="m-0">Quarterly repayment:</p>
                  <p class="fs-4" id="installment_quarterly">$ 0.00</p>
                </div>

                <div class="calculator-result">
                  <p class="m-0">Half yearly repayment:</p>
                  <p class="fs-4" id="installment_biyearly">$ 0.00</p>
                </div>

                <div class="calculator-result">
                  <p class="m-0">Yearly repayment:</p>
                  <p class="fs-4" id="installment_yearly">$ 0.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% attach_library 'govcms_bartik/global-scripts' %}
    <script>
    document.addEventListener('DOMContentLoaded', function () {
      var calc_loan = function() {
        var value_monthly = 0;
        var value_quarterly = 0;
        var value_half = 0;
        var value_yearly = 0;

        var n = document.getElementById('repayment_slider').value * 12;
        var r = (document.getElementById('interest_slider').value / 100) / 12;
        var R = Math.pow(r + 1, n);
        var P = document.getElementById('amount_value').value;

        value_monthly = (P) * ((r * (R)) / (R - 1));
        value_quarterly = (value_monthly * 3);
        value_biyearly = (value_monthly * 6);
        value_yearly = (value_monthly * 12);

        document.getElementById('installment_monthly').textContent = "$ " + value_monthly.toFixed(2);
        document.getElementById('installment_quarterly').textContent = "$ " + value_quarterly.toFixed(2);
        document.getElementById('installment_biyearly').textContent = "$ " + value_biyearly.toFixed(2);
        document.getElementById('installment_yearly').textContent = "$ " + value_yearly.toFixed(2);
      }
      document.getElementById('amount_value').value = document.getElementById('amount_slider').value;
      document.getElementById('repayment_value').value = document.getElementById('repayment_slider').value;
      document.getElementById('interest_value').value = document.getElementById('interest_slider').value;

      document.getElementById('amount_value').addEventListener('change', function() {
        calc_loan();
      });

      document.getElementById('amount_value').addEventListener('change', function() {
        document.getElementById('amount_slider').value = document.getElementById('amount_value').value;
        calc_loan();
      });

      document.getElementById('amount_slider').addEventListener('change', function() {
        document.getElementById('amount_value').value = document.getElementById('amount_slider').value;
        calc_loan();
      });

      document.getElementById('repayment_value').addEventListener('change', function() {
        document.getElementById('repayment_slider').value = document.getElementById('repayment_value').value;
        calc_loan();
      });

      document.getElementById('repayment_slider').addEventListener('change', function() {
        document.getElementById('repayment_value').value = document.getElementById('repayment_slider').value;
        calc_loan();
      });

      document.getElementById('interest_value').addEventListener('change', function() {
        document.getElementById('interest_slider').value = document.getElementById('interest_value').value;
        calc_loan();
      });

      document.getElementById('interest_slider').addEventListener('change', function() {
        document.getElementById('interest_value').value = document.getElementById('interest_slider').value;
        calc_loan();
      });
    });
    </script>
  {% endblock %}
{% endblock %}
