.messages__wrapper {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

/* Tablet */
@media (min-width: 768px) {
  .messages__wrapper {
    max-width: 720px;
  }
}

/* Medium desktop */
@media (min-width: 992px) {
  .messages__wrapper {
    max-width: 960px;
  }
}

/* Large desktop */
@media (min-width: 1400px) {
  .messages__wrapper {
    max-width: 1320px;
  }
}
