<div class="col-12 mt-3 mt-lg-0">
    {{ content['#block_content'].body.value | raw }}
</div>

<div class="col-12 mt-3 mt-lg-0">
    <div class="footer-middle-socials">
        {{ content.field_social_icon }}
    </div>
</div>