<!-- templates/region__footer_middle.html.twig -->
<div class="region region-footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-6">

      </div>

      <div class="col-12 col-xl-6">
      </div>
    </div>
  </div>
</div>
