<!-- field__node__field_event__location__event -->
{%
  set classes = [
    'pt-5 pb-2',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <strong>Event location: </strong>
  <br />
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
</div>
