<!-- paragraph__icon_button_default -->
<div class="col-12 col-md-auto col-xl-auto text-center">
  <a class="btn btn-icon btn-white" href="{{ content.field_intro__link[0]['#url'] }}" title="{{ content.field_intro__link[0]['#title'] }}" target="hello">
    {{ content.field_intro__icon[0]['#context'].value | raw }}
    {{ content.field_intro__link[0]['#title'] }}
  </a>
</div>
