<!-- paragraph__tabs__default.html.twig -->
{% block paragraph %}
  {% block content %}
    <div class="paragraph paragraph-tabs">
      {% if content.field_tabs__heading %}
        <div class="container">
          <div class="row">
            <div class="col-12">
              {{ content.field_tabs__heading }}
            </div>
          </div>
        </div>
      {% endif %}

      {% if content.field_tabs__text %}
        <div class="container">
          <div class="row">
            <div class="col-12 col-xl-10">
              {{ content.field_tabs__text }}
            </div>
          </div>
        </div>
      {% endif %}

      <div class="container">
        <div class="row">
          <div class="col-xl">
            {{ content.field_tabs__tab_item }}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock %}
