<!-- paragraph__faqs__default.html.twig -->
{% block paragraph %}
  {% block content %}
    <div class="paragraph paragraph-accordion">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-4">
            {% if content.field_faqs__heading %}
              {{ content.field_faqs__heading }}
            {% endif %}

            {% if content.field_faqs__text %}
              {{ content.field_faqs__text }}
            {% endif %}
          </div>

          <div class="col-12 col-xl-7 offset-xl-1 mt-5 mt-xl-0">
            {{ content.field_faqs__faq_item }}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock %}
